.todoContainerIcon{
    height: 25px;
    width: 25px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


/* Scrollbar container */
.overflow-x-scroll::-webkit-scrollbar,
.overflow-y-scroll::-webkit-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar */
    height: 12px; /* Adjust the height for horizontal scroll */
  }
  
  /* Scrollbar thumb */
  .overflow-x-scroll::-webkit-scrollbar-thumb,
  .overflow-y-scroll::-webkit-scrollbar-thumb {
    background-color: #006fbb; /* Thumb color */
    border-radius: 6px; /* Rounded corners */
  }
  
  /* Scrollbar track (container) */
  .overflow-x-scroll::-webkit-scrollbar-track,
  .overflow-y-scroll::-webkit-scrollbar-track {
    background-color: #dcdcdc; /* Container color */
    border-radius: 6px; /* Rounded corners */
  }